.contactHeader {
  margin-left: 108px;
}
.contactHeader h1 {
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.contactHeader p {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  max-width: 975px;
}
